= stylesheet_link_tag "posts"
.new_post_btn
  %a{:class => 'btn btn-primary', :href => posts_new_path} New Path
.center-column
  #header
    .blog-name
      %a{:href => '#'}= @blog.user.user_name
    .description
      Just Another Blogsite
    = render :partial => 'shared/blogs/post_view', :collection => @blog.posts.order('updated_at desc'), :as => :post


:javascript
  $(document).ready(function(){
    jQuery(".best_in_place").best_in_place();
  });
