- if error_resource && error_resource.errors.any?
  #error_explanation.validation_msg.error_msg
    %h2
      = pluralize(error_resource.errors.count, "error")
      prohibited this post from being saved:
    %ul
      - error_resource.errors.full_messages.each do |msg|
        %li= msg
