= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "signin-form", :id => "oauth_user_new"}) do |f|
  = hidden_field_tag(:from, controller_name)
  = hidden_field_tag(:action_type, 'sign_in')
  = render 'shared/error_messages', :error_resource => resource
  = f.email_field :email, class: "login_fields", placeholder: "Email Id", style: "border: 1px solid #888;border-radius: 0px;padding-left:10px;"
  %br
  %br
  = f.password_field :password, class: "login_fields", placeholder: "Password", style: "border: 1px solid #888;border-radius: 0px;margin-right: 4px;padding-left:10px;"

  - if devise_mapping.recoverable? && controller_name != 'passwords'
    .forgot-password
      = link_to "Forgot your password?", new_password_path(resource_name)
  
  = f.submit "Sign in", class: "btn_orig"
