- content_for :css do
  = stylesheet_link_tag "login_form"
#root-signin-popup{:style => 'display:none'}
  .root_signin_wraper
    .sign_in_new_root
      .sign_in_details
        = render 'shared/login', :resource => resource           
