%p
  This is free Blogging Site Inspired by Wordpress
  It is requested from user to post any material which is against the law of particular nation or region. Those who will be found broken the local law will be blocked in near future.

%p 
  Tell Other your friend about this new blogging site

%p
  All Indian Law applicable to this site.
