%h1
  My Blog: Create and Publish Your content free
%h3.margin_bottom
  Share what you want, with whom you want.
.row
  .span4
    %h2 
      Welcome!
      %p
        This My Blog is free WebBlog Designed by Sanjiv Kumar Jha. Any one free to clone to git hub and modify it according to its requirement.
      %p
        If you have any suggestions or questions
        %a{:href => "mailto:narutosanjiv@gmail.com"} Reach at me.
    
  .span4.offset1 
    = link_to "New User! Register", new_user_registration_path, :class => 'btn'
