-name = comment.name
-created_at = comment.created_at
-content = comment.content
%tr.cmtBox
  %td
    %p.name
      #{name}
    %p.created_at
      #{created_at.to_date.to_formatted_s}
  %td.post_comment
    .comment
      #{content}
