= form_for(new_comment, :url => post_comments_path(:id => post.id), :html => {:remote => true, :class => 'form-horizontal', :id => 'new_comment_form'}) do|f|
  = f.hidden_field :post_id, :value => post.id
  = f.hidden_field :blog_id, :value => post.blog.id
  .row
    = f.label :name
  .row
    = f.text_field :name
  .row
    = f.label :email
  .row
    = f.text_field :email
  .row
    = f.label :comment
  .row
    = f.text_area :content, :rows => '10', :cols => '20'
  .row
    = f.submit :save, :value => 'Save', :class => 'btn btn-primary', :style => 'margin-top:10px;'

