$('.post_comments_box').remove();
$('#comment_name').val('');
$('#comment_email').val('');
$('#comment_content').val('');
$('#error_explanation').remove();
$('.comments_count').remove();
$('.new_comment_link').html("Write Comment Here(#{@comments.count})");
$('#new_comment').after("#{escape_javascript(render :partial => 'shared/posts/comments', :locals => {:comments => @comments, :post => @post})}");

