= stylesheet_link_tag "comment"
.content
  .title
    %h1= @post.title
  .description
    = @post.content

#post_comment
  %p{:style => "clear: left;padding-left: 10px; padding-top:5px;"}
    = link_to "Write Comment Here(#{@post.comments.count})", "#", :class => "new_comment_link", :style => "font-size:15px;"
  #new_comment
    = render :partial => 'new_comment', :locals => {:post => @post, :new_comment => @new_comment}  
  = render :partial => 'shared/posts/comments', :locals => {:comments => @comments, :post => @post}
