%h1 Write a New Post
%p New Post
= form_for(@post, :url => post_save_path, :html => {:class => "form-horizontal"}) do|f|
  = render 'shared/error_messages', :error_resource => @post
  = f.hidden_field :blog_id, :value => current_user.blog.id
  = f.label :title
  = f.text_area :title, :rows => 2, :cols => 10, :placeholder => "Title"
  = f.label :content
  = f.text_area :content, :rows=> 5, :cols => 20, :placeholder => "Content"
  = f.label :Add_Tag
  = f.text_field :tag_list, :placeholder => 'Comma Separated tag'
  = f.submit :Save, :class => 'btn btn-primary'

:javascript
  $(document).ready(function(){
    $('#post_content').wysihtml5();
  });
