.content
  %div{:class => "status-publish format-standard hentry", :id => "post-#{post.id}"}
    .post-info
      %h1
        = link_to post.title, post_comments_path(:id => post.id) 
      .timestamp 
        = post.updated_at.strftime('%Y-%m-%d')
      .comment-bubble
        %a{:href => "/post/#{post.id}/comment/#new_comment"}= post.comments.try(:count) 
      .clearboth
    - if current_user && current_user.edit_post?(post)
      .closebutton
        %a{:href => '#', :data => {:remote => "true", :method => :delete}, :href => delete_post_path(:id => post.id)}
    .post-content
      = best_in_place_if current_user && current_user.edit_post?(post), post, :content, :type => :textarea, :path => update_post_path(:id => post.id), :display_with => lambda { |v| v.html_safe }
      .sharedaddy.sd-like-enabled.sd-sharing-enabled
    .clearboth
    .post-meta-data
      "Tags"
      %span
        = post.tag_list
    
