textarea{
  margin-left:200px;
  margin-top: -14px;
}

.form-input{
  margin-bottom: 15px; 
  margin-top: 15px;
}

tr td.review_comment{
  width: 466px;
}
.comment{
  padding-bottom: 10px;
}

td p.name {
  color: #004B91;
  font-size: 14px;
}

.comments_count
{
  padding-top: 20px;
  font-size: 18px;
}

.grid_12.post_comments_box{
  height: auto;
  margin:0px;
}

.cmtBox{
  clear:both;
  padding:1px 0 1px 0;
  border-bottom:1px dashed #999;
  float:left;
  margin-bottom: 20px;
  padding-bottom: 20px;
  display:block;
  width: 600px;
} 

.book_rating_stars
{
  width: 204px;
  float: left;
}

.thumb_down_count{
}
#facebook_style{
  border: 1px solid hsl(217, 30%, 88%);
  padding: 10px 15px;
  background-color: hsl(223, 24%, 94%);
}

#facebook_style a {
  color:#3B5998;
  cursor:pointer;
  text-decoration:none;
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
  font-size:11px;
  text-align:left;
}

.thumb_down_icon {
  background: url('/assets/thumbs_sprite.png') no-repeat 0 0;
  width: 17px;
  height: 21px;
  float: left;
  display: inline;
}

.thumb_up_icon {
  background: url('/assets/thumbs_sprite.png') no-repeat 0 -31px;
  width: 17px;
  height: 21px;
  float: left;
  display: inline;
}

.thumb_up_icon_link{
  float: left;
  margin-right: 10px;
}

.thumb_down_icon_link{
  float: left;
  margin-right: 10px;
}

.form.thumb-up-icon-form{
  width: 100px; 
  float:left;
}
