// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn{
  margin-top: 40px;
  width: 100%;
  margin-bottom: 50px;
}
