li {
  list-style-type: none;
}
ul#landing_nav > li a.login {
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 0 1px 1px #666;
  -moz-box-shadow: 0 1px 1px #666;
  box-shadow: 0 1px 1px #666;
  padding: 5px 8px;
  background-color: black;
  border-top: 1px solid black;
  color: white;
}

.margin_bottom{
  margin-bottom: 50px;
}

h3 {
  color: rgb(119, 119, 119);
}

h2 {
  color: #444;

}

p {
  margin: 1.5em 0;
  text-align: left;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;  

}

