
.root_signin_wraper {
  background-color: rgba(0, 0, 0, 0.699219);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9990;
  top: 0;
  left: 0;
}

.sign_in_new_root {
    width:320px;
    height:350px;
    border:1px solid #dbdbdb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color:#fff;
    z-index: 9999;
    position: fixed;
    display: block;
    -moz-box-shadow: 0 0 7px 2px #222;
    -webkit-box-shadow: 0 0 7px 2px #222;
    box-shadow: 0 0 7px 2px #222;
    right: 173px;
    top: 167px;
  }
  .sign_in_new_root img {
    margin: 0px auto;
    display: block;
    margin-top:25px;
  }
  .sign_in_details {
    margin:0px;
    padding:0px;
    margin-top: 32px;
    margin-left: 27px;
  }
  .login_fields {
    height:30px;
    width:250px;
    font-size:17px;
    padding-left:10px;
  }

  .forgot-password {
    margin-right: 116px;
    margin-top: 10px;
  }
  .signin_btn {
    margin-right: 153px;
    margin-top: 20px;
  }
  .sign_up_link {
    margin-left: 40px;
    font-size: 14px;
    position: absolute;
    margin-top: 28px;
    text-decoration:underline;
  }

  .btn_orig {
    display: inline-block;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    *margin-left: .3em;
    margin-top: 24px;
    padding: 6px 22px;
    font-size: 17px;
  }

  .btn_orig:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
  }
