.activityMessage{
border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(0, 128, 0); border-right-color: rgb(0, 128, 0); border-bottom-color: rgb(0, 128, 0); border-left-color: rgb(0, 128, 0); border-image: initial; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); position: absolute;width: 150px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; z-index: 99; font-size: 11px; font-weight: bold; margin-top:220px; margin-left:70pxz;
}

.info_msg, .success_msg, .warning_msg, .error_msg, .validation_msg {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info_msg {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('info.png');
}
.success_msg {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('success.png');
}
.warning_msg {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('warning.png');
}
.error_msg {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('error.png');
}
