// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-info {
  float: left;
  width: 18.333em;
  margin: 0 1.667em 0 0;
  word-wrap: break-word;
  overflow: hidden;
}

h1{
  color: #959EA1;
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1em;
  padding-bottom: 0.6em;
}

.comment-bubble {
  float: left;
  font-size: 1.5em;
  margin-left: 0.5em;
  text-align: center;
}


.comment-bubble a, .comment-bubble a:visited{
  color: #959EA1;
  text-decoration: none;
  display: block;
  width: 27px;
  height: 32px;
  background: url(comment-bubble.png) no-repeat 0 2px;
  margin-bottom: 5px;
}

.clearboth{
  clear: both;
}

.timestamp {
  float: left;
  font-size: 1.5em;
  color: #959EA1;
}

a:link, a:visited {
  color: #FF8A00;
  text-decoration:none;
}

.center-column{
width: 58.334em;
margin: 0px auto;
text-align: left;
clear: both;

}

#header{
padding: 2em 0;
}

.blog-name {
  font-size: 5em;
  font-weight: bold;
  line-height: 1em;
}

.blog-name a:link, .blog-name a:visited {
  color: #D1D9DC;
  text-decoration: none;
}

.center-column .hentry, .center-column .page, .hentry{
border-top: 1px solid #D1D9DC;
padding-top: 1.5em;

}

.post-content{
  float: left;
  width: 38.333em;
  overflow: visible;
}

p {
font-size: 1.167em;
line-height: 1.5em;
margin: 0 0 1.5em;
}

div.sharedaddy, div.sharedaddy div{
-webkit-border-radius: 0 !important;
-moz-border-radius: 0 !important;
border-radius: 0 !important;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 12px;
clear: both;

}


.post-meta-data {
position: relative;
margin: 0 0 0 10em;
height: 100%;
overflow: hidden;
padding: 0.333em 0;
border-top: 1px solid #D1D9DC;
}


.post-meta-data span {
display: block;
float: right;
clear: both;
width: 38.333em;
}


.closebutton {
float: right;
}

.closebutton a{
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0;
  zoom: 1;
}

.closebutton a{
  background-image: url(close_image.png);
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
}


.closebutton a:hover, .closebutton a:focus {
background-position: left -32px;
}
