- if post.comments.present?
  .comments_count
    Total Comments:Showing 1 - #{post.comments.count} Comments
  .grid_12.post_comments_box
    %table{:style => "margin-bottom:20px;"}
      %tbody.comment_box
        = render :partial => 'posts/comment', :collection => comments, :as => :comment
      %tfoot
-else
  No Comment on this post yet
