!!!
%html
  %head
    :css
      body{
        padding-top: 60px;
      }
    %title MyBlog
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "layout", "login_form", "message"
    = yield :css
    = javascript_include_tag "application"
    = yield :js
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => root_url} My Blog
          .nav-collapse
            %ul.nav
              %li.active
                %a{:href => root_url} Home
              %li
                %a{:href => "/aboutus"} About
              %li
                %a{:href => '/contactus'} Contact
              - if current_user
                %li
                  %a{:href => posts_new_path} New Post
            %form.navbar-search.pull-left
              %input.search-query.span2{:type => 'text', :placeholder => 'Search Post '}
          .btn-group.pull-right
            - if current_user.blank?
              %ul#landing_nav
                %li
                  %a.login{:href => '#'} Log in
            - else
              %a.btn.dropdown-toggle{"data-toggle" => 'dropdown', :href => '#'}
                #{current_user.email}
                %i.icon-user
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{:href => '#'} Profile
                %li.divider
                %li
                  %a{:href => destroy_user_session_path, :data => {:method => :delete} } Sign Out
    .container
      = render 'shared/login_form', :resource => resource
      = yield

:javascript
  $(document).keydown(function(e) {
    if (e.keyCode == 27) 
    {
      $('#root-signin-popup').hide();
    }
  });
  $(document).ready(function(){
    $('.login').click(function(){
      $('#root-signin-popup').toggle();
    })
  });
